<html>

  <head>
    <title>NLIL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1 style="text-align: center">News Legal Information Labeling</h1>
    <div class="container">
      <!--div class="form-group">
        <label for="input">Input Article</label>
        <textarea class="form-control" id="input" rows="8">

        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div-->
      <div id="output">
        <h2>{{ Arg1 }}</h2>
        {{ Arg2 }}
        <hr>
        <ol>
        {% for pred in predict|slice:":25" %}
          {% if pred == Relation %}
            <li><b>{{ pred }} (Ans)</b></li>
          {% else %}
            <li>{{ pred }}</li>
          {% endif %}
        {% endfor %}
        </ol>
      </div>
    </div>
  </body>

  <script>
    var submit = 'button'
    $(submit).click(
      function () {
        if (!$(submit).hasClass('disabled')) {
          $(submit).toggleClass('disabled');
          var input = $('#input').val();

          $.post("", { input: input, csrfmiddlewaretoken: '{{ csrf_token }}' },
            function (data) {
              $(submit).toggleClass('disabled');
              $('#output').html(data);
            }
          );

        }
      }
    );
  </script>

</html>